// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-core-settings: false !default;

@if ($imported-core-settings == false) {
  @warn 'Oops! Have you included core settings file?';
}

$hr-border-color: $global-color-light-gray;

hr {
  border: none; // sass-lint:disable-line border-zero
  border-top: 1px solid $hr-border-color;
}
