// ==========================================================================
// Colors
// ==========================================================================

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-core-settings: false !default;

@if ($imported-core-settings == false) {
  @warn 'Oops! Have you included core settings file?';
}

// The below loop  will generate us a suite of classes like:
//
//    // foreground colors
//    .u-fg--red-brand
//    .u-fg--green
//
//    // background colors
//    .u-bg--red-brand
//    .u-bg--green
//

//scss-lint:disable ImportantRule
@each $name, $color in $global-utilities-colors {
  .#{$global-utility-namespace}bg--#{$name} {
    background-color: $color !important;
  }

  .#{$global-utility-namespace}fg--#{$name} {
    &,
    &:focus {
      color: $color !important;
    }
  }
}
