// ==========================================================================
// Border Radius tools / mixin
// ==========================================================================

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-core-settings: false !default;

@if ($imported-core-settings == false) {
  @warn 'Oops! Have you included core settings file?';
}

// Usage: @include font-weight(normal) -> font-weight: 400
// See: 1-settings/_settings.core.scss -> $global-font-weight-list

@mixin font-weight($type) {

  $font-weight: map-get($global-font-weight-list, $type);

  @if($font-weight) {
    font-weight: map-get($global-font-weight-list, $type);
  } @else {
    font-weight: map-get($global-font-weight-list, normal);
  }
}
